/* Base */
:root {
	--clr-accent-400: #005FA6;

	--clr-neutral-1000-75:rgba(0, 0, 0, 0.75);
	--clr-neutral-1000-25:rgba(0, 0, 0, 0.25);
	--clr-neutral-1000: #000000;
	--clr-neutral-975: hsl(0, 0%, 20%);
	--clr-neutral-950: #404040;
	--clr-neutral-900: #545454;
	--clr-neutral-850: hsl(0, 0%, 40%);
	--clr-neutral-825: hsl(0, 0%, 60%);
	--clr-neutral-800: hsl(0, 0%, 55%);
	--clr-neutral-700: #cccccc;
	--clr-neutral-300: #ebebeb;
	--clr-neutral-200: hsl(0, 0%, 91%);
	--c: hsl(0, 0%, 94%);
	--clr-neutral-150: hsl(0, 0%, 95%);
	--clr-neutral-100: hsl(0, 0%, 97%);
	--clr-neutral-50: #ffffff;

	--clr-success-400: #2ecc71;
	--clr-error-400: #e74c3c;
	--clr-error-300: #ff1515;
}

* {
	outline: none;
}

html,
body {
	height: 100%;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.6;
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-50);
}

a {
	color: var(--clr-neutral-950);
}

a:hover {
	color: var(--clr-neutral-950);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

a.none:hover {
	text-decoration: none;
}

.section-title {
	text-align: center;
	color: var(--clr-neutral-950);
}

.heading-underline-decoration {
	position: relative;
}

.heading-underline-decoration:after {
	content: '';
	position: absolute;
	width: 30px;
	background-color: var(--clr-accent-400);
	height: 2px;
	left: 0;
	bottom: 0;
}

@media (width >= 992px) {
	.clearfix {
		display: none;
	}
}

/* Header */
.top {
	background-color: var(--clr-neutral-950);
	padding: 5px 0;
	color: var(--clr-neutral-100);
}

.top p {
	margin: 0;
}

.top ul {
	margin: 0;
	padding: 0;
}

.top li i {
	color: var(--clr-neutral-50);
}

.top li a {
	color: var(--clr-neutral-50);
}

.top li a:hover {
	text-decoration: none;
}

.top li a:hover,
.top li a:hover i {
	color: var(--clr-accent-400);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

@media (max-width:462px) {
	.top {
		text-align: center;
	}

	.top ul.list-inline {
		float: none !important;
		text-align: center;
	}
}

/* Navigation */
.navbar {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar .container {
	position: relative;
}

.navbar-default {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
	border-bottom: 1px solid var(--clr-neutral-200);
	background-color: var(--clr-neutral-50);
	color: var(--clr-neutral-950);
}

.navbar-default .navbar-nav>li>a:hover {
	color: var(--clr-accent-400);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.navbar-default .navbar-nav .active>a,
.navbar-default .navbar-nav .active>a:hover,
.navbar-default .navbar-nav .active>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.navbar-default .navbar-toggle {
	margin: 10px 0 0 15px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	border: none;
	background: var(--clr-neutral-150);
}

.navbar-default .navbar-toggle i {
	font-size: 31px;
}

.navbar-default .navbar-collapse {
	float: right;
	border-top: none;
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand>img {
	max-width: 100%;
	padding: 5px;
}

.main-navbar-nav {
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.main-navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 1;
}

.main-navbar-nav li>.dropdown-menu {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	min-width: 225px;
	border: none;
	border-top: 2px solid var(--clr-accent-400);
}

.main-navbar-nav li>.dropdown-menu>li>a {
	padding: 10px;
	position: relative;
	color: var(--clr-neutral-950);
	line-height: 1.12857143;
	font-size: 12px;
}

.main-navbar-nav li>.dropdown-menu>li>a:hover,
.main-navbar-nav li>.dropdown-menu>li>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.main-navbar-nav li>.dropdown-menu>li>a i {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -8px;
	font-size: 16px;
}

.navbar-brand {
	height: auto;
	padding: 0;
}

@media (max-width: 992px) {
	.navbar-default .navbar-collapse {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		max-height: none;
	}

	.main-navbar-nav>li {
		border-bottom: 1px solid var(--clr-neutral-150);
	}

	.main-navbar-nav>li:last-child {
		border-bottom: none;
	}

	.main-navbar-nav>li>a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	.navbar-toggle {
		display: block;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.main-navbar-nav.navbar-nav,
	.main-navbar-nav.navbar-nav>li {
		float: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
		overflow-y: auto !important;
	}
}

@media (max-width: 768px) {
	.navbar-default .navbar-collapse {
		padding-left: inherit;
		padding-right: inherit;
	}
}

@media (min-width: 992px) {
	.main-navbar-nav .dropdown:hover>.dropdown-menu {
		display: block;
	}

	.main-navbar-nav .dropdown:hover>.dropdown-menu .dropdown:hover .dropdown-menu {
		left: 225px;
		top: 0;
		margin-top: -2px;
	}
}

@media (min-width:768px) {
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
}

/* Hero */
.hero_area {
	background-image: url(framework-out-of-scope/img/hero.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 475px;
	padding: 120px 0;
}

.hero_content h1 {
	text-shadow: 1px 1px 2px var(--clr-neutral-1000-75);
	color: var(--clr-accent-400);
	font-weight: 700;
	font-size: 42px;
}

.hero_content h2 {
	text-shadow: 1px 1px 2px var(--clr-neutral-1000-25);
	color: var(--clr-neutral-1000);
	font-weight: 700;
	font-size: 32px;
	margin-top: 0;
	width: 45%;
	line-height: 38px;
}

@media (max-width:462px) {
	.hero_content {
		padding: 80px 0;
	}

	.hero_content h1 {
		font-size: 32px;
	}

	.hero_content h2 {
		width: 90%;
		font-size: 21px;
	}
}

/* Boxes */
.boxes_area {
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-100);
}

.box {
	position: relative;
}

.box h3 {
	margin-top: 0;
	margin-bottom: 18px;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
}

.box i {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	color: var(--clr-accent-400);
	font-size: 45px;
}

@media (min-width:769px) {
	.boxes_area div[class*="col-"]:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background-color: var(--clr-neutral-300);
	}

	.boxes_area div[class*="col-"]:last-child:after {
		display: none;
	}
}

@media (max-width:462px) {
	.boxes_area .box p {
		margin-bottom: 30px;
	}

	.services .media .media-left {
		padding-right: 15px;
	}
}

/* Home */
.services {
	padding-top: 50px;
	padding-bottom: 50px;
}

.services p.desc {
	text-align: center;
	margin-bottom: 20px;
}

.services .media {
	margin-top: 30px;
}

.services .media i {
	font-size: 45px;
	color: var(--clr-accent-400);
}

.services .media h4 {
	font-size: 15px;
	font-weight: 600;
	color: var(--clr-neutral-950);
}

.services .media p {
	text-align: left;
}

/* News */
.home-area {
	padding-bottom: 50px;
}

.home_content h2 {
	font-size: 17px;
	font-weight: 600;
	padding-bottom: 20px;
	color: var(--clr-neutral-950);
	margin-bottom: 30px;
}

.home_list ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	color: var(--clr-neutral-950);
}

.home_list ul li {
	list-style: none;
}

.home_list .thumbnail {
	border: none;
	padding: 0;
}

.thumbnail .caption {
	padding: 9px;
	padding-left: 0;
	padding-right: 0;
}

.home_list h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}

.home_list p {
	color: var(--clr-neutral-800);
}

.home_list a.btn {
	font-size: 13px;
	padding: 0;
	color: var(--clr-accent-400);
}

.home_bottom .row {
	margin-left: -5px;
	margin-right: -5px;
}

.home_bottom div[class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
	position: relative;
}

/* References */
.carousel-control {
	width: 4%;
}

.carousel-control.left,
.carousel-control.right {
	margin-left: 0;
	background-image: none;
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}

	.carousel-inner .next {
		left: 100%;
	}

	.carousel-inner .prev {
		left: -100%;
	}

	.active>div {
		display: none;
	}

	.active>div:first-child {
		display: block;
	}
}

@media (min-width: 767px) and (max-width: 992px) {
	.carousel-inner .active.left {
		left: -50%;
	}

	.carousel-inner .next {
		left: 50%;
	}

	.carousel-inner .prev {
		left: -50%;
	}

	.active>div {
		display: none;
	}

	.active>div:first-child {
		display: block;
	}

	.active>div:first-child+div {
		display: block;
	}
}

@media (min-width: 992px) {
	.carousel-inner .active.left {
		left: -25%;
	}

	.carousel-inner .next {
		left: 25%;
	}

	.carousel-inner .prev {
		left: -25%;
	}
}

/* Mail list */
.login-form-1 {
	max-width: 300px;
	border-radius: 5px;
	display: inline-block;
}

.main-login-form {
	position: relative;
}

.login-form-1 .form-control {
	border: 0;
	box-shadow: 0 0 0;
	border-radius: 0;
	background: transparent;
	color: var(--clr-neutral-900);
	padding: 7px 0;
	font-weight: bold;
	height: auto;
}

.login-form-1 .form-control::-webkit-input-placeholder,
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder,
.login-form-1 .form-control::placeholder {
	color: var(--clr-neutral-825);
}

.login-form-1 .form-group {
	margin-bottom: 0;
	border-bottom: 2px solid var(--clr-neutral-50);
	padding-right: 20px;
}

.login-form-1 .form-group:last-child {
	border-bottom: 0;
}

.login-group {
	background: var(--clr-neutral-150);
	color: var(--clr-neutral-825);
	border-radius: 8px;
	padding: 10px 20px;
}

.login-form-1 .login-button {
	position: absolute;
	right: -25px;
	top: 50%;
	background: var(--clr-neutral-50);
	color: var(--clr-neutral-825);
	padding: 11px 0;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	border: 5px solid var(--clr-neutral-150);
	border-radius: 50%;
	transition: all ease-in-out 500ms;
}

.login-form-1 .login-button:hover {
	color: var(--clr-neutral-900);
	transform: rotate(450deg);
}

.login-form-1 .login-button.clicked {
	color: var(--clr-neutral-900);
}

.login-form-1 .login-button.clicked:hover {
	transform: none;
}

.login-form-1 .login-button.clicked.success {
	color: var(--clr-success-400);
}

.login-form-1 .login-button.clicked.error {
	color: var(--clr-error-400);
}

/* Footer */
footer.site-footer {
	background: var(--clr-neutral-200);
	padding: 20px 0 0;
}

footer.site-footer h4 {
	font-size: 17px;
	font-weight: 500;
}

footer.site-footer ul {
	padding-left: 0;
	margin-bottom: 20px;
	list-style: none;
}

footer.site-footer a {
	color: var(--clr-neutral-850);
}

footer .text {
	color: var(--clr-neutral-850);
}

#copyright {
	background: var(--clr-neutral-950);
	color: var(--clr-neutral-700);
	padding: 15px 0;
	font-size: 12px;
	margin-top: 20px;
}

#copyright p,
#copyright ul {
	margin: 0;
}

#copyright a {
	color: var(--clr-neutral-50);
}

.site-footer li a:hover {
	color: var(--clr-accent-400);
}

.related-links li {
	float: left;
	width: 49%;
}

.related-links li:nth-child(2n) {
	margin-left: 2%;
}

@media (max-width:462px) {
	.fbox:last-child {
		margin-top: 20px;
		float: left;
		width: 100%;
	}
}

@media (min-width:463px) and (max-width:768px) {
	.fbox {
		float: left;
	}

	.fbox:nth-child(3) {
		float: right !important;
	}
}
