/* Base */
:root {
	--clr-accent-400: hsl(206, 100%, 33%);

	--clr-neutral-950-25: hsla(0, 0%, 0%, 0.25);
	--clr-neutral-950-75: hsla(0, 0%, 0%, 0.75);
	--clr-neutral-950: hsl(0, 0%, 0%);
	--clr-neutral-900: hsl(0, 0%, 10%);
	--clr-neutral-800: hsl(0, 0%, 20%);
	--clr-neutral-700: hsl(0, 0%, 30%);
	--clr-neutral-600: hsl(0, 0%, 42%);
	--clr-neutral-500: hsl(0, 0%, 55%);
	--clr-neutral-400: hsl(0, 0%, 70%);
	--clr-neutral-300: hsl(0, 0%, 80%);
	--clr-neutral-200: hsl(0, 0%, 90%);
	--clr-neutral-100: hsl(0, 0%, 95%);
	--clr-neutral-50: hsl(0, 0%, 100%);

	--clr-success-600: hsl(145, 78%, 24%);
	--clr-success-400: hsl(145, 63%, 49%);
	--clr-error-400: hsl(6, 78%, 57%);
	--clr-error-300: hsl(0, 100%, 54%);

	--icon-size: 2.9rem;
}

* {
	outline: none;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 1rem;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.6;
	color: var(--clr-neutral-700);
}

a {
	color: inherit;
}

a:hover {
	color: var(--clr-accent-400);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

a.none:hover {
	text-decoration: none;
}

a:not(:has(i)) {
	text-decoration: underline;
	color: var(--clr-accent-400);
}

.section-title {
	text-align: center;
	color: var(--clr-neutral-800);
	font-size: 2rem;
}

.heading-underline-decoration {
	position: relative;
}

.heading-underline-decoration:after {
	content: '';
	position: absolute;
	width: 30px;
	background-color: var(--clr-accent-400);
	height: 2px;
	left: 0;
	bottom: 0;
}

@media (min-width: 992px) {
	.clearfix {
		display: none;
	}
}

.social-media-links {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.social-media-links a {
	text-decoration: none;
	display: block;
}

.social-media-links i {
	font-size: 1.75rem;
}

.social-media-links li:hover,
.social-media-links li:hover i {
	color: var(--clr-accent-400);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

@media (hover: none) {
	.social-media-links i {
		font-size: 3rem;
	}
}

/* Header */
#skip-link {
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal !important;
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	z-index: 101;
}

#skip-link:focus {
	background-color: var(--clr-neutral-50);
	color: var(--clr-success-600);
	font-weight: 600;
	font-size: 1.5rem;
	padding: 0.8em;
	border: var(--clr-success-600) solid 3px;
	border-radius: 5px;

	clip: auto;
	clip-path: inherit;
	height: auto;
	top: 0.5rem;
	left: 0.5rem;
	margin: auto;
	overflow: auto;
	transition: 0s;
	width: auto;
}

.top {
	background-color: var(--clr-neutral-800);
	padding: 1em 0;
	color: var(--clr-neutral-50);
}

.top .row {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.top .row:before,
.top .row::after {
	display: none;
}

.top p {
	margin: 0;
}

.top ul {
	margin: 0;
	padding: 0;
}

.top li a {
	color: inherit;
}

@media (max-width: 996px) {
	.top .row {
		flex-direction: column;
	}
}

@media (max-width:462px) {
	.top {
		text-align: center;
	}

	.top ul.list-inline {
		float: none !important;
		text-align: center;
	}
}

/* Navigation */
.navbar {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar .container {
	position: relative;
}

.navbar-default {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
	border-bottom: 1px solid var(--clr-neutral-200);
	background-color: var(--clr-neutral-50);
	font-size: 1.1rem;
}

.navbar-default a {
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
	color: var(--clr-neutral-700);
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover {
	color: var(--clr-accent-400);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.navbar-default .navbar-nav .active>a,
.navbar-default .navbar-nav .active>a:hover,
.navbar-default .navbar-nav .active>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.navbar-default .navbar-toggle {
	margin: 0.625em 0 0 1em;
}

.navbar-default .navbar-toggle {
	border: none;
	background: var(--clr-neutral-100);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: var(--clr-neutral-200);
}

.navbar-default .navbar-toggle i {
	font-size: 2rem;
}

.navbar-default .navbar-collapse {
	float: right;
	border-top: none;
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand>img {
	max-width: 100%;
	padding: 1rem;
}

.main-navbar-nav {
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.main-navbar-nav>li>a {
	padding-block: 2em;
	line-height: 1;
}

.main-navbar-nav li>.dropdown-menu {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	min-width: 225px;
	border: none;
	border-top: 2px solid var(--clr-accent-400);
}

.main-navbar-nav li>.dropdown-menu>li>a {
	padding: 0.625em;
	position: relative;
	color: var(--clr-neutral-700);
	line-height: 1.12857143;
	font-size: 1rem;
}

.main-navbar-nav li>.dropdown-menu>li>a:hover,
.main-navbar-nav li>.dropdown-menu>li>a:focus {
	background-color: transparent;
	color: var(--clr-accent-400);
}

.navbar-brand {
	height: auto;
	padding: 0;
}

@media (max-width: 992px) {
	.navbar-default .navbar-collapse {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		max-height: none;
	}

	.main-navbar-nav>li {
		border-bottom: 1px solid var(--clr-neutral-100);
	}

	.main-navbar-nav>li:last-child {
		border-bottom: none;
	}

	.main-navbar-nav>li>a {
		padding-block: 0.75em;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.main-navbar-nav.navbar-nav,
	.main-navbar-nav.navbar-nav>li {
		float: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
		overflow-y: auto !important;
	}
}

@media (max-width: 768px) {
	.navbar-default .navbar-collapse {
		padding-left: inherit;
		padding-right: inherit;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: inherit;
	}
}

@media (min-width: 992px) {
	.main-navbar-nav .dropdown:hover>.dropdown-menu {
		display: block;
	}

	.main-navbar-nav .dropdown:hover>.dropdown-menu .dropdown:hover .dropdown-menu {
		left: 225px;
		top: 0;
		margin-top: -2px;
	}
}

@media (min-width:768px) {

	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
}

/* Hero */
.hero_area {
	background-image: url(framework-out-of-scope/img/hero.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 30rem;
	padding: 7.5rem 0;
}

.hero_content h1 {
	text-shadow: 1px 1px 2px var(--clr-neutral-950-75);
	color: var(--clr-accent-400);
	font-weight: 700;
	font-size: 2.625rem;
}

.hero_content h2 {
	text-shadow: 1px 1px 2px var(--clr-neutral-950-25);
	color: var(--clr-neutral-950);
	font-weight: 700;
	font-size: 2rem;
	margin-top: 0;
	width: 45%;
	line-height: 1em;
}

@media (max-width:462px) {
	.hero_content {
		padding-block: 5rem;
	}

	.hero_content h1 {
		font-size: 2rem;
	}

	.hero_content h2 {
		width: 90%;
		font-size: 1.3rem;
	}
}

/* Boxes */
.boxes_area {
	padding-top: 2.5rem;
	padding-bottom: 0.625rem;
	padding-left: 0;
	padding-right: 0;
	background-color: var(--clr-neutral-100);
}

.box {
	position: relative;
}

.box h3 {
	margin-top: 0;
	margin-bottom: 1em;
	padding-bottom: 1.2em;
	font-size: 1.1rem;
	font-weight: 500;
}

.box i {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	color: var(--clr-accent-400);
	font-size: var(--icon-size);
}

@media (min-width:769px) {
	.boxes_area div[class*="col-"]:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background-color: var(--clr-neutral-200);
	}

	.boxes_area div[class*="col-"]:last-child:after {
		display: none;
	}
}

@media (max-width:462px) {
	.boxes_area .box p {
		margin-bottom: 2em;
	}

	.services .media .media-left {
		padding-right: 1em;
	}
}

/* Home */
.services {
	padding-block: 3.125rem;
}

.services p.desc {
	text-align: center;
	margin-bottom: 1.25em;
}

.services .media {
	margin-top: 2rem;
}

.services .media i {
	font-size: var(--icon-size);
	color: var(--clr-accent-400);
}

.services .media h4 {
	font-size: 1.1rem;
	font-weight: 600;
}

.services .media p {
	text-align: left;
}

/* News */
.home-area {
	padding-bottom: 3.125rem;
}

.home_content h2 {
	font-size: 1.4rem;
	font-weight: 600;
	padding-bottom: 1em;
	margin-bottom: 1.3em;
}

.home_list ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.home_list ul li {
	list-style: none;
}

.thumbnail {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

.thumbnail a::after {
	content: '';
	position: absolute;
	inset: 0;
}

.thumbnail .caption p {
	color: var(--clr-neutral-700);
	position: relative;
	z-index: 1;
}

.thumbnail .caption {
	padding: 0.625rem;
	padding-left: 0;
	padding-right: 0;
}

.thumbnail h3 {
	font-size: 1.1rem;
	font-weight: 600;
	margin-block: 0.6em;
}

.thumbnail a.btn {
	padding: 0;
	color: var(--clr-accent-400);
}

.home_bottom .row {
	margin-left: -5px;
	margin-right: -5px;
}

.home_bottom div[class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
	position: relative;
}

/* References */
.carousel-control {
	width: 4%;
}

.carousel-control.left,
.carousel-control.right {
	margin-left: 0;
	background-image: none;
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}

	.carousel-inner .next {
		left: 100%;
	}

	.carousel-inner .prev {
		left: -100%;
	}

	.active>div {
		display: none;
	}

	.active>div:first-child {
		display: block;
	}
}

@media (min-width: 767px) and (max-width: 992px) {
	.carousel-inner .active.left {
		left: -50%;
	}

	.carousel-inner .next {
		left: 50%;
	}

	.carousel-inner .prev {
		left: -50%;
	}

	.active>div {
		display: none;
	}

	.active>div:first-child {
		display: block;
	}

	.active>div:first-child+div {
		display: block;
	}
}

@media (min-width: 992px) {
	.carousel-inner .active.left {
		left: -25%;
	}

	.carousel-inner .next {
		left: 25%;
	}

	.carousel-inner .prev {
		left: -25%;
	}
}

/* Mail list */

/* 
  --_form-background-color:
  This locally scoped CSS custom property is used to maintain consistency and ease of maintenance 
  throughout the styles of the login form. It controls the background color of the `.login-group` 
  and ensures that the border of the `.login-button` visually matches the appearance of the form. 
  By using a locally scoped variable, any future changes to the background color can be made in 
	a single location, propagating the update to the relevant elements seamlessly.
*/
.login-form-1 {
	--_form-background-color: var(--clr-neutral-100);

	max-width: 18.75rem;
	border-radius: 0.375rem;
	display: inline-block;
}

.main-login-form {
	position: relative;
}

.login-form-1 .form-control {
	border: 0;
	box-shadow: 0 0 0;
	border-radius: 0;
	background: transparent;
	color: var(--clr-neutral-800);
	padding: 0.375rem 0;
	font-weight: bold;
	height: auto;
}

.login-form-1 .form-control::-webkit-input-placeholder,
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder,
.login-form-1 .form-control::placeholder {
	color: var(--clr-neutral-500);
}

.login-form-1 .form-group {
	margin-bottom: 0;
	border-bottom: 2px solid var(--clr-neutral-50);
	padding-right: 1.25rem;
}

.login-form-1 .form-group:last-child {
	border-bottom: 0;
}

.login-group {
	background-color: var(--_form-background-color);
	border-radius: 0.5rem;
	padding: 0.625rem 1.25rem;
}

.login-group .form-control {
	background-color: hsl(from var(--clr-neutral-50) h s l / 0.7);
}

/* 
  --_login-button-size:
  This locally scoped CSS custom property is used to define the size of the`.login-button`. 
  It ensures consistency in the button's dimensions (width and height) and is used to
	calculate the button's position and alignment relative to its parent. By utilizing this
	variable, any future adjustments to the button size can be applied easily in one centralized
	location, thus maintaining consistent layout and appearance within the login form.
*/
.login-form-1 .login-button {
	--_login-button-size: 3.125rem;

	position: absolute;
	right: calc(-1 * var(--_login-button-size) / 2);
	top: 50%;
	background: var(--clr-neutral-50);
	color: var(--clr-neutral-600);
	padding: 11px 0;
	width: var(--_login-button-size);
	height: var(--_login-button-size);
	margin-top: calc(-1 * var(--_login-button-size) / 2);
	border: 5px solid var(--_form-background-color);
	border-radius: 50%;
	transition: all ease-in-out 500ms;
}

.login-form-1 .login-button:hover {
	color: var(--clr-neutral-950);
	transform: rotate(450deg);
}

.login-form-1 .login-button.clicked {
	color: var(--clr-neutral-950);
}

.login-form-1 .login-button.clicked:hover {
	transform: none;
}

.login-form-1 .login-button.clicked.success {
	color: var(--clr-success-400);
}

.login-form-1 .login-button.clicked.error {
	color: var(--clr-error-400);
}

/* Footer */
.site-footer {
	background: var(--clr-neutral-200);
	color: var(--clr-neutral-800);
	padding: 1.25rem 0 0;
}

.site-footer .row::before,
.site-footer .row::after {
	display: none;
}

.main-footer .row {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-between;
}

.main-footer .row>* {
	flex-basis: calc(25% - 6rem);
}

.site-footer h4 {
	color: var(--clr-neutral-950);
	font-size: 1.2rem;
	font-weight: 600;
}

.site-footer ul {
	padding-left: 0;
	margin-bottom: 1.25rem;
	list-style: none;
}

.site-footer li a:hover {
	color: var(--clr-accent-400);
}

.related-links ul {
	display: flex;
	gap: 1.2rem;
	flex-wrap: wrap;
}

.site-footer .contact-information a {
	color: var(--clr-accent-400);
	text-decoration: underline;
}

#copyright {
	background: var(--clr-neutral-800);
	color: var(--clr-neutral-300);
	padding: 1.14em 0;
	font-size: 0.875rem;
	margin-top: 1.42em;
}

#copyright p,
#copyright ul {
	margin: 0;
}

#copyright a {
	color: var(--clr-neutral-50);
}

@media (max-width: 1200px) {
	.main-footer .row>* {
		flex-basis: calc(50% - 2rem);
	}
}

@media (max-width: 722px) {
	.main-footer .row>* {
		flex-basis: 100%;
	}
}

.modal .form-instructions {
	font-style: italic;
}